<!--prettier-ignore-->
#errorCatcher Echo
#encoding UTF-8
#import datetime
#attr $context = 'day'
#attr $daily_archive = True
#attr $use_parameter_month = False
#attr $use_parameter_year = False

<!DOCTYPE html>
<html lang="$lang">
  <head>
    #include "includes/html-head.inc"
    <title>$station.location - $gettext("Archive")</title>
  </head>

  <body class="theme-$DisplayOptions.get('layout', 'alternative')">
    #include "includes/ui-shell.inc"

    <main class="main bx--content">
      <section>
        <div class="bx--grid bx--grid--full-width">
          <div class="bx--row">
            <header class="bx--col page-header">
              <h1>$gettext("Archive")</h1>
              <h2>
                $datetime.datetime.fromtimestamp($day.dateTime.raw).strftime($get_time_format_dict['daily_archive'])
              </h2>
            </header>
          </div>

          <!--prettier-ignore-->
          #if $get_day_archive_enabled()
          <!--prettier-ignore-->
          <div class="bx--row" style="margin-bottom: 2rem;">
            <div class="bx--col-sm-4 bx--col-md-8 bx--col-lg-12 bx--col-xlg-6 bx--col-max-6">
              #set $archive_days = $get_archive_days_array($alltime.dateTime.raw, $latest.dateTime.raw, $get_time_format_dict['daily_archive'])
              <script>
                var archive_days = $jsonize($archive_days);
                var archive_date_time = {
                  format: "$get_time_format_dict['daily_archive']",
                  now: "$datetime.datetime.fromtimestamp($latest.dateTime.raw).strftime($get_time_format_dict['daily_archive'])",
                }
              </script>
              <div class="statistics-day-select"></div>
            </div>
          </div>
          #end if

          <!--prettier-ignore-->
          #if $DisplayOptions.get('layout', 'alternative') == 'alternative'
            #include 'includes/body-alternative.inc'
          #else
            #include 'includes/body-classic.inc'
          #end if
        </div>
      </section>
    </main>

    #include "includes/footer.inc"

    <script src="$get_base_path(path='dist/main.js')" defer></script>
  </body>
</html>
