# Caches.
__pycache__
.parcel-cache

# Editor config.
.idea

# Python venv.
.venv

node_modules

# Project specific.
skins/weewx-wdc/dist
skins/weewx-wdc/service-worker.js
skins/weewx-wdc/service-worker.js.map
skins/weewx-wdc/dwd

# Tests
test/test_install_report/src/weewx-wdc.zip
test/shunit2
test/*/artifacts*

# yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
/test-results/
**playwright-report/
/playwright/.cache/
/test-results/
/playwright-report/
/playwright/.cache/

.ddev