@import "~@carbon/themes/scss/themes";
$carbon--theme: $carbon--theme--g10;
@include carbon--theme();

@import "~@carbon/layout/scss/breakpoint";
@import "~@carbon/layout/scss/convert";
$carbon--grid-breakpoints: (
  sm: (
    columns: 4,
    margin: 0,
    width: carbon--rem(320px),
  ),
  md: (
    columns: 8,
    margin: carbon--rem(16px),
    width: carbon--rem(672px),
  ),
  lg: (
    columns: 16,
    margin: carbon--rem(16px),
    width: carbon--rem(1056px),
  ),
  xlg: (
    columns: 16,
    margin: carbon--rem(16px),
    width: carbon--rem(1312px),
  ),
  max: (
    columns: 16,
    margin: carbon--rem(24px),
    width: carbon--rem(1850px),
  ),
);
@import "~carbon-components/scss/globals/scss/styles.scss";
@import "~@carbon/colors/scss/mixins";
@include carbon--colors();

// @see https://www.carbondesignsystem.com/guidelines/typography/code/
@import "~@carbon/type/scss/type";

@import "~@carbon/type/scss/font-face/mono";
@import "~@carbon/type/scss/font-face/sans";
@import "~@carbon/type/scss/font-face/serif";

@import "~@carbon/type/scss/classes";
@include carbon--type-classes();
@import "~@carbon/type/scss/styles";

@include carbon--type-reset();
@include carbon--font-face-mono();
@include carbon--font-face-sans();
@include carbon--font-face-serif();

// Side nav width is $spacing-09.
bx-header ~ bx-side-nav {
  margin-top: 3rem;
  height: calc(100% - 3rem);
}

.bx--content {
  margin-top: $spacing-09;
}

header.page-header {
  margin-bottom: $spacing-07;
  h1 {
    @include carbon--type-style("expressive-heading-06");
  }
  h2 {
    @include carbon--type-style("expressive-heading-03");
  }
}

header.section-header {
  margin-top: $spacing-07;
  margin-bottom: $spacing-07;
  h2 {
    @include carbon--type-style("expressive-heading-06");
  }
}

.stat-tile {
  margin-bottom: $spacing-06;
  > .bx--row {
    align-items: center;
    .label {
      @include carbon--type-style("expressive-heading-02");
    }
    .value {
      display: flex;
      align-items: center;
      svg {
        max-width: 32px;
        display: inline-block;
        margin-right: $spacing-02;
      }
      span {
        @include carbon--type-style("productive-heading-05");
        span {
          @include carbon--type-style("label-01");
        }
      }
    }
    .stat-label {
      @include carbon--type-style("label-01");
    }
    .stat-value {
      @include carbon--type-style("productive-heading-01");
    }
  }
  .bx--row ~ .bx--row {
    margin-top: $spacing-04;
  }
}

.diagram-tile {
  margin-bottom: $spacing-06;
  .label {
    @include carbon--type-style("expressive-heading-02");
    display: flex;
    align-items: center;
    svg {
      margin-right: $spacing-02;
    }
  }
  &.combined {
    .label {
      span {
        display: flex;
        align-items: center;
      }
    }
  }
}

.diagram-tooltip {
  font-family: carbon--font-family("mono"), monospace;
}

.diagram {
  height: 300px;
  @include carbon--breakpoint-up(md) {
    height: 350px;
  }
}

#footer {
  padding: 2rem;
  margin-top: $spacing-09;
}
