@import "~@carbon/themes/scss/themes";
$carbon--theme: $carbon--theme--g10;
@include carbon--theme();

@import "~@carbon/layout/scss/breakpoint";
@import "~@carbon/layout/scss/convert";
$carbon--grid-breakpoints: (
  sm: (
    columns: 4,
    margin: 0,
    width: carbon--rem(320px),
  ),
  md: (
    columns: 8,
    margin: carbon--rem(16px),
    width: carbon--rem(672px),
  ),
  lg: (
    columns: 16,
    margin: carbon--rem(16px),
    width: carbon--rem(1056px),
  ),
  xlg: (
    columns: 16,
    margin: carbon--rem(16px),
    width: carbon--rem(1312px),
  ),
  max: (
    columns: 16,
    margin: carbon--rem(24px),
    width: carbon--rem(1920px),
  ),
);
@import "~carbon-components/scss/globals/scss/styles.scss";
@import "~@carbon/colors/scss/mixins";
@include carbon--colors();

// @see https://www.carbondesignsystem.com/guidelines/typography/code/
@import "~@carbon/type/scss/type";

@import "~@carbon/type/scss/font-face/mono";
@import "~@carbon/type/scss/font-face/sans";
@import "~@carbon/type/scss/font-face/serif";

@import "~@carbon/type/scss/classes";
@include carbon--type-classes();
@import "~@carbon/type/scss/styles";

@include carbon--type-reset();
@include carbon--font-face-mono();
@include carbon--font-face-sans();
@include carbon--font-face-serif();

bx-header:not(:defined) {
  display: none;
}

// Side nav width is $spacing-09.
bx-header ~ bx-side-nav {
  margin-top: 3rem;
  height: calc(100% - 3rem);
}

.bx--header__name {
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
  white-space: nowrap;
}

bx-header-name {
  svg {
    height: auto;
    max-width: 32px;
    margin-right: $spacing-03;
  }
  span.bx--header__name--prefix {
    padding-right: $spacing-02;
  }
  @include carbon--breakpoint-down(lg) {
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: calc(100vw - 72px);
    white-space: nowrap;
    display: flex;
  }
}

.bx--content {
  margin-top: $spacing-09;
  @include carbon--breakpoint-down(lg) {
    padding-left: 0;
    padding-right: 0;
  }
}

bx-structured-list-cell {
  padding: 0.5rem 0.5rem 0.5rem;
}

.bx--col,
.bx--col-sm-4,
.bx--col-md-4,
.bx--col-lg-6 {
  padding-left: 0.5rem !important;
  padding-right: 0.5rem !important;
}

.bx--row {
  margin-left: -0.5rem;
  margin-right: -0.5rem;
}

main.user-page {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: $spacing-02;
  }
  p,
  ol,
  ul {
    max-width: 60rem;
    margin-bottom: $spacing-05;
    b {
      font-weight: bold;
    }
    bx-code-snippet {
      margin-bottom: 0 !important;
    }
  }
  .bx-ce-demo-devenv--tab-panels,
  bx-tabs {
    max-width: 40rem;
  }
  bx-code-snippet {
    @include carbon--theme($carbon--theme--g10, true);
    margin-bottom: $spacing-05;
  }
  dds-image-with-caption {
    max-width: 60rem;
  }
  ol {
    list-style: auto;
    padding-left: $spacing-05;
    li > * {
      margin-bottom: 0;
    }
  }
}

header.page-header {
  margin-bottom: $spacing-07;
  h1 {
    @include carbon--type-style("expressive-heading-06");
  }
  h2 {
    @include carbon--type-style("expressive-heading-03");
  }
  h3 {
    margin-top: $spacing-02;
    @include carbon--type-style("expressive-heading-01");
  }
}

header.section-header {
  margin-top: $spacing-07;
  margin-bottom: $spacing-07;
  h2 {
    @include carbon--type-style("expressive-heading-06");
  }
  h3 {
    @include carbon--type-style("expressive-heading-03");
  }
}

bx-tabs {
  @include carbon--theme($carbon--theme--g10, true);
}
.bx-ce-demo-devenv--tab-panels {
  flex: 1;
  padding: 1rem 1rem 0rem 1rem;
  align-self: stretch;
  background-color: white;
  margin-bottom: $spacing-05;
  > div {
    padding-bottom: 1rem;
  }
}
.climatological-tile {
  bx-tooltip-body {
    top: 25px !important;
  }
  bx-structured-list-header-cell {
    span.hide-mobile {
      @include carbon--breakpoint-down(md) {
        display: none;
      }
    }
  }
  bx-structured-list-cell {
    span {
      display: none;
      sub {
        font-size: 0.75em;
      }
    }
    @include carbon--breakpoint-up(md) {
      span {
        display: inline;
      }
      bx-tooltip {
        display: none;
      }
    }
  }
}

.obs-stat-tile {
  margin-bottom: $spacing-05;
  h3 {
    @include carbon--type-style("expressive-heading-02");
  }
}

.stat-tile {
  margin-bottom: $spacing-05;
  height: calc(100% - #{$spacing-05});
  bx-tooltip-definition {
    padding-bottom: $spacing-01;
  }
  > .bx--row {
    align-items: center;
    .label {
      @include carbon--type-style("expressive-heading-02");
    }
    .value {
      display: flex;
      align-items: center;
      svg {
        max-width: 32px;
        display: inline-block;
        margin-right: $spacing-02;
      }
      > span {
        @include carbon--type-style("productive-heading-05");
        @include carbon--breakpoint-up(md) {
          white-space: nowrap;
          text-overflow: ellipsis;
          max-width: 100%;
          overflow: hidden;
        }
        span {
          @include carbon--type-style("label-01");
        }
      }
    }
    .stat-label {
      @include carbon--type-style("label-01");
    }
    .stat-value {
      @include carbon--type-style("productive-heading-01");
    }
  }
  .bx--row ~ .bx--row {
    margin-top: $spacing-04;
  }
}

@mixin fullscreen {
  .maximize {
    transition: all 250ms ease;
    opacity: 0;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: -#{$spacing-07};
    padding: $spacing-02;
    box-sizing: content-box;
    &:hover {
      background: $background-active;
    }
    @include carbon--breakpoint-down(lg) {
      opacity: 1;
    }
  }
  .fullscreen {
    display: none;
    &.fullscreen-enabled {
      display: block;
      padding: $spacing-08 !important;
      background: white;
      .maximize {
        position: absolute;
        top: $spacing-04;
        right: $spacing-08;
        z-index: 10;
        @include carbon--breakpoint-down(lg) {
          right: $spacing-04;
        }
      }
      @include carbon--breakpoint-down(lg) {
        padding: $spacing-04 !important;
      }
    }
  }
}

.diagram-tile {
  margin-bottom: $spacing-05;
  &.combined {
    .label {
      span {
        display: flex;
        align-items: center;
      }
    }
  }
  .diagram {
    position: relative;
    @include fullscreen();
  }
  &:hover {
    .maximize {
      opacity: 1;
    }
  }
}

.diagram-tile,
.calendar-diagram {
  .label {
    @include carbon--type-style("expressive-heading-02");
    display: flex;
    align-items: center;
    svg {
      margin-right: $spacing-02;
    }
  }
}

.calendar-diagram-clim-wrap {
  position: relative;
  @include fullscreen();
  .maximize {
    top: 0;
  }
  &:hover {
    .maximize {
      opacity: 1;
    }
  }
}

.tile-radar-forecast {
  img {
    width: 100%;
    display: block;
    height: auto;
    margin: 0 auto;
  }
}

.forecast-tile {
  @include carbon--breakpoint-down(xlg) {
    margin-bottom: $spacing-06;
  }
  .forecast {
    h3 {
      @include carbon--type-style("expressive-heading-03");
    }
    > p {
      @include carbon--type-style("body-01");
    }
    .issued {
      @include carbon--type-style("helper-text-01");
    }
    bx-structured-list {
      margin-bottom: -4rem;
      display: block;
      bx-structured-list-body {
        bx-structured-list-cell[class*="index"] {
          font-family: carbon--font-family("mono"), monospace;
        }
      }
      bx-structured-list-row {
        bx-structured-list-cell {
          sub {
            @include carbon--type-style("helper-text-01");
          }
          .temphi {
            color: #d5202a;
          }
          .templo {
            color: #0053ae;
          }
          svg {
            display: block;
            width: 42px;
            height: 42px;
          }
        }
        &.rain {
          svg {
            width: 32px;
            height: 32px;
            margin-top: $spacing-02;
            margin-bottom: $spacing-02;
          }
        }
      }
    }
    & ~ .forecast {
      margin-top: $spacing-06;
    }
    bx-structured-list-row,
    bx-structured-list-header-row {
      @include carbon--breakpoint-down(md) {
        bx-structured-list-cell,
        bx-structured-list-header-cell {
          display: none;
        }
        bx-structured-list-cell:nth-of-type(-n + 3),
        bx-structured-list-header-cell:nth-of-type(-n + 3) {
          display: table-cell;
        }
      }
    }
  }
}

.almanac-tile {
  margin-bottom: $spacing-05;
  .label {
    @include carbon--type-style("expressive-heading-04");
    display: flex;
    align-items: end;
    margin-bottom: $spacing-04;
    justify-content: space-between;
    svg {
      max-width: 128px;
      display: block;
    }
    &.small {
      @include carbon--type-style("label-01");
      margin-bottom: 0;
      justify-content: unset;
      align-items: center;
    }
  }
  .bx--col.value {
    display: flex;
    align-items: center;
    svg {
      margin-right: $spacing-04;
    }
  }
  .value {
    @include carbon--type-style("productive-heading-01");
  }
  &.detail {
    .bx--row.stats {
      margin-bottom: $spacing-04;
    }
  }
}

.pyephem {
  margin-top: $spacing-10;
}

.diagram-tooltip,
.diagram text,
.calendar-diagram text {
  font-family: carbon--font-family("mono"), monospace;
}

.diagram {
  height: 220px;
  @include carbon--breakpoint-up(md) {
    height: 350px;
  }
  @include carbon--breakpoint-up(lg) {
    height: 350px;
  }
  @include carbon--breakpoint-up(xlg) {
    height: 300px;
  }
  @include carbon--breakpoint-up(max) {
    height: 350px;
  }
}

body.theme-classic {
  div.bx--grid.bx--grid--full-width {
    @include carbon--breakpoint-up(lg) {
      padding-right: 0;
    }
  }
  .layout-col,
  .bx--tile.forecast-tile {
    margin-bottom: $spacing-05;
  }
  .diagram {
    height: 220px;
    @include carbon--breakpoint-up(md) {
      height: 300px;
    }
    @include carbon--breakpoint-up(lg) {
      height: 250px;
    }
    @include carbon--breakpoint-up(xlg) {
      height: 225px;
    }
    @include carbon--breakpoint-up(max) {
      height: 225px;
    }
  }
  .section-header {
    margin-top: $spacing-03;
    margin-bottom: $spacing-05;
    h2 {
      @include carbon--type-style("expressive-heading-04");
    }
  }
}

#footer {
  padding: 2rem;
  margin-top: $spacing-09;
  background-color: $background-inverse;
  color: $text-inverse;
  a {
    color: $link-inverse;
  }
  .footnote {
    margin-top: $spacing-06;
  }
  .icon-link {
    display: block;
    margin: $spacing-06 0 0 0;
    svg {
      height: auto;
      max-width: 32px;
      path {
        fill: $text-inverse;
      }
    }
  }
}

.data-table-tile {
  padding: 0;
}
.bx--data-table--short .bx--table-header-label {
  white-space: nowrap;
}

@include carbon--breakpoint-down(lg) {
  section.main.bx--content,
  #footer {
    padding-left: $spacing-09;
    padding-right: $spacing-03;
  }
}
body.sidebar-responsive {
  @include carbon--breakpoint-up(lg) {
    section.main.bx--content,
    #footer {
      padding-left: 16rem;
      padding-right: 1rem;
    }
  }
}

.show-small {
  @include carbon--breakpoint-up(lg) {
    display: none;
  }
}

.sidebar-heading {
  pointer-events: none;
  cursor: default;
}
