<!--prettier-ignore-->
#errorCatcher Echo
#encoding UTF-8
#import datetime
#import time

<!DOCTYPE html>
<html lang="$lang">
  <head>
    #include "includes/html-head.inc"
    <title>$station.location - $gettext("DWD")</title>
    <script
      type="module"
      src="https://1.www.s81c.com/common/carbon-for-ibm-dotcom/version/v1.19.0/image-with-caption.min.js"
    ></script>
    <style>
      dds-image-with-caption {
        max-width: 100%;
        margin-top: 0;
        margin-bottom: 0;
      }
    </style>
  </head>

  <body class="theme-$DisplayOptions.get('layout', 'alternative')">
    #include "includes/ui-shell.inc"

    <main>
      <section class="main bx--content">
        <div class="bx--grid bx--grid--full-width">
          <div class="bx--row">
            <header class="bx--col page-header">
              <h1>$gettext("Vorhersage vom Deutschen Wetterdienst")</h1>
            </header>
          </div>

          <!--prettier-ignore-->
          #if $to_bool($Extras['weewx-DWD']['show_text_forecast'])
          #set $VHDL = $Extras['weewx-DWD']['text_forecast_VHDL']
          #set $dwd_link = $Extras['weewx-DWD']['dwd_link']
          <div class="bx--row" style="margin-bottom: 1.5rem">
            <div class="bx--col">
              <!--prettier-ignore-->
              <div class="bx--tile">
                #set $today = datetime.date.today()
                #set $headings = {54: $pgettext("DWD", "Current Weather Conditions"), 50: $pgettext("DWD", "Today"), 51: $pgettext("DWD", "Tomorrow"), 52: $pgettext("DWD", ($today + datetime.timedelta(days=2)).strftime("%A")), 53: $pgettext("DWD", ($today + datetime.timedelta(days=3)).strftime("%A"))}
                #for $day in [54, 50, 51, 52, 53]
                  #if os.path.exists("dwd/VHDL" + str($day) + "_" + $VHDL + "_LATEST.html")
                    <h4 class="bx--type-productive-heading-02">$headings[$day]</h4>
                    <p>
                    #include raw "dwd/VHDL" + str($day) + "_" + $VHDL + "_LATEST.html"
                    </p>
                    #if $day != 53
                      <br />
                    #end if
                  #end if
                #end for

                <p style="text-align: right;">
                    [$gettext('Source'):
                    <a
                    href="$dwd_link"
                    target="_blank"
                    >DWD</a
                    >]
                </p>
              </div>
            </div>
          </div>
          #end if

          <!--prettier-ignore-->
          #if $to_bool($Extras['weewx-DWD']['show_forecast']) and os.path.exists("dwd/forecast-" + $Extras['weewx-DWD']['mosmix_id'] + ".json")
          <div class="bx--row" style="margin-bottom: 1.5rem">
            <div class="bx--col">
              <div class="bx--tile">
                <div class="dwd-forecast">
                  <script>
                    var dwdForecastData = #include raw "dwd/forecast-" + $Extras['weewx-DWD']['mosmix_id'] + ".json"
                  </script>
                </div>
              </div>
            </div>
          </div>
          #end if

          <!--prettier-ignore-->
          #if $DisplayOptions.get("diagrams", {}).get("combined_observations", {}).get('dwd_meteogram_1', None) is not None
          <div class="bx--row">
            <!--prettier-ignore-->
            #attr $context = 'custom'
            #set global $context_start_ts = $time.time()
            #set $end_dt = $datetime.date.today() + $datetime.timedelta(days=14)
            #set global $context_end_ts = $time.mktime($end_dt.timetuple())
            #set global $diagram_classes_custom = "bx--col"

            #set global $comb_obs = "dwd_meteogram_1"
            #set global $combined_diagram = $DisplayOptions.get("diagrams", {}).get("combined_observations", {}).get('dwd_meteogram_1', {})
            #set global $diagram_index = 9999
            #include "includes/combined-diagram-tile.inc"
          </div>
          #end if

          <!--prettier-ignore-->
          #if $DisplayOptions.get("diagrams", {}).get("combined_observations", {}).get('dwd_meteogram_2', None) is not None
          <div class="bx--row">
            <!--prettier-ignore-->
            #attr $context = 'custom'
            #set global $context_start_ts = $time.time()
            #set $end_dt = $datetime.date.today() + $datetime.timedelta(days=14)
            #set global $context_end_ts = $time.mktime($end_dt.timetuple())
            #set global $diagram_classes_custom = "bx--col"

            #set global $comb_obs = "dwd_meteogram_2"
            #set global $combined_diagram = $DisplayOptions.get("diagrams", {}).get("combined_observations", {}).get('dwd_meteogram_2', {})
            #set global $diagram_index = 9999
            #include "includes/combined-diagram-tile.inc"
          </div>
          #end if

          <!--prettier-ignore-->
          #if $DisplayOptions.get("diagrams", {}).get("combined_observations", {}).get('dwd_meteogram_3', None) is not None
          <div class="bx--row">
            <!--prettier-ignore-->
            #attr $context = 'custom'
            #set global $context_start_ts = $time.time()
            #set $end_dt = $datetime.date.today() + $datetime.timedelta(days=14)
            #set global $context_end_ts = $time.mktime($end_dt.timetuple())
            #set global $diagram_classes_custom = "bx--col"

            #set global $comb_obs = "dwd_meteogram_3"
            #set global $combined_diagram = $DisplayOptions.get("diagrams", {}).get("combined_observations", {}).get('dwd_meteogram_3', {})
            #set global $diagram_index = 9999
            #include "includes/combined-diagram-tile.inc"
          </div>
          #end if

          <!--prettier-ignore-->
          #if $to_bool($Extras['weewx-DWD']['show_pressure_map']) or $to_bool($Extras['weewx-DWD']['show_warning_map'])
          <div class="bx--row" style="margin-bottom: 1.5rem">
            <div
              class="bx--col-sm-4 bx--col-md-8 bx--col-lg-12 bx--col-xlg-12 bx--col-max-12"
            >
              <header class="bx--col section-header">
                <h2>$gettext("Aktuelle Bodendruck- und Warnkarte")</h2>
              </header>
            </div>
            <!--prettier-ignore-->
            #if $to_bool($Extras['weewx-DWD']['show_pressure_map'])
            <div
              class="bx--col-sm-4 bx--col-md-8 bx--col-lg-6 bx--col-xlg-6 bx--col-max-6"
            >
              <div class="bx--tile">
                <dds-image-with-caption
                  default-src="dwd/bwk_bodendruck_na_ana.png"
                  heading='$gettext("Analyse- und Prognosekarten Europa")'
                  alt='$gettext("Analyse- und Prognosekarten Europa")'
                  title='$gettext("Analyse- und Prognosekarten Europa")'
                  lightbox="false"
                >
                  <dds-image-item
                    media="(min-wiidth:320px)"
                    href="dwd/bwk_bodendruck_na_ana.png"
                  >
                  </dds-image-item>
                </dds-image-with-caption>
              </div>
            </div>
            #end if

            <!--prettier-ignore-->
            #if $to_bool($Extras['weewx-DWD']['show_warning_map'])
            <div
              class="bx--col-sm-4 bx--col-md-8 bx--col-lg-6 bx--col-xlg-6 bx--col-max-6"
            >
              <div class="bx--tile">
                <dds-image-with-caption
                  default-src="dwd/$Extras['weewx-DWD']['warning_map_filename']"
                  heading='$gettext("Wetterwarnungen")'
                  alt='$gettext("Wetterwarnungen")'
                  title='$gettext("Wetterwarnungen")'
                  lightbox="false"
                >
                  <dds-image-item
                    media="(min-wiidth:320px)"
                    href="dwd/$Extras['weewx-DWD']['warning_map_filename']"
                  >
                  </dds-image-item>
                </dds-image-with-caption>
              </div>
            </div>
            #end if
          </div>
          #end if

          <!--prettier-ignore-->
          #if $to_bool($Extras['weewx-DWD']['show_text_warnings'])
          <div class="bx--row" style="margin-bottom: 1.5rem">
            <div
              class="bx--col-sm-4 bx--col-md-8 bx--col-lg-12 bx--col-xlg-12 bx--col-max-12"
            >
              <header class="bx--col section-header">
                <h2>$gettext("Wetterwarnungen")</h2>
              </header>
            </div>

            #set $warning_index = 0
            <!--prettier-ignore-->
            <div
              class="bx--col-sm-4 bx--col-md-8 bx--col-lg-6 bx--col-xlg-6 bx--col-max-6"
            >
              #for $region, $region_key in $get_dwd_warnings.items()
              #if os.path.exists("dwd/warn-" + $region_key + ".json") and ($warning_index % 2) == 0

                <!--prettier-ignore-->
                #set global $region = $region
                #set global $region_key = $region_key
                #include "includes/dwd-warning.inc"

              <!--prettier-ignore-->
              #end if
              #set $warning_index = $warning_index + 1
              #end for
            </div>

            #set $warning_index = 0
            <!--prettier-ignore-->
            <div
              class="bx--col-sm-4 bx--col-md-8 bx--col-lg-6 bx--col-xlg-6 bx--col-max-6"
            >
              #for $region, $region_key in $get_dwd_warnings.items()
              #if os.path.exists("dwd/warn-" + $region_key + ".json") and ($warning_index % 2) != 0

                <!--prettier-ignore-->
                #set global $region = $region
                #set global $region_key = $region_key
                #include "includes/dwd-warning.inc"

              <!--prettier-ignore-->
              #end if
              #set $warning_index = $warning_index + 1
              #end for
            </div>
          </div>
          #end if
        </div>
      </section>
    </main>

    #include "includes/footer.inc"

    <script src="$get_base_path(path='dist/main.js')" defer></script>
  </body>
</html>
