<!--prettier-ignore-->
#errorCatcher Echo
#encoding UTF-8

<!DOCTYPE html>
<html lang="$lang">
  <head>
    #include "includes/html-head.inc"
    <title>$station.location - $gettext("About")</title>
    <script
      type="module"
      src="https://1.www.s81c.com/common/carbon/web-components/version/v1.21.0/notification.min.js"
    ></script>
    <script
      type="module"
      src="https://1.www.s81c.com/common/carbon/web-components/version/v1.21.0/code-snippet.min.js"
    ></script>
    <script
      type="module"
      src="https://1.www.s81c.com/common/carbon-for-ibm-dotcom/version/v1.19.0/image-with-caption.min.js"
    ></script>
    <script
      type="module"
      src="https://1.www.s81c.com/common/carbon/web-components/version/v1.21.0/tabs.min.js"
    ></script>
  </head>

  <body class="theme-$DisplayOptions.get('layout', 'alternative')">
    #include "includes/ui-shell.inc"

    <!--@see https://github.com/carbon-design-system/carbon/blob/v10/packages/type/scss/modules/_styles.scss#L628-->
    <main class="user-page main bx--content">
      <section>
        <div class="bx--grid bx--grid--full-width">
          <div class="bx--row">
            <header class="bx--col page-header">
              <h1>$gettext($get_static_page_title("externals"))</h1>
            </header>
          </div>

          #if 'description' in $Extras['externals']
          <div class="bx--row">
            <div class="bx--col">
              <p class="bx--type-body-long-01">
                $Extras['externals'].description
              </p>
            </div>
          </div>
          #end if

          <!--prettier-ignore-->
          #if 'externals' in $Extras
          <!--prettier-ignore-->
          <div class="bx--row">
            <!--prettier-ignore-->
            #for $external in $Extras['externals']
            #if $external == 'description'
              #continue
            #end if
            #if $to_bool($Extras['externals'][$external].show_on_page)
            <div
              class="bx--col-sm-4 bx--col-md-8 bx--col-lg-12 bx--col-xlg-6"
              style="margin-bottom: 1.25rem"
            >
              <!--prettier-ignore-->
              <div class="bx--tile webcam-tile">
                  <h5 class="bx--type-caption-01" style="margin-bottom: 0">
                    #if 'title_long' in $Extras['externals'][$external]
                      $Extras['externals'][$external].title_long
                    #end if
                  </h5>

                  <h3
                    class="bx--type-productive-heading-03"
                    style="margin-bottom: 1.25rem; font-weight: bold"
                  >
                    $Extras['externals'][$external].title
                  </h3>

                  $Extras['externals'][$external].source

                  <p class="bx--type-body-long-01" style="margin-top: 0.75rem; margin-bottom: 0;">
                    $Extras['externals'][$external].description
                  </p>
                </div>
            </div>
            #end if
            #end for
          </div>
          #end if
        </div>
      </section>
    </main>

    #include "includes/footer.inc"

    <script src="$get_base_path(path='dist/main.js')" defer></script>
  </body>
</html>
