#errorCatcher Echo
#encoding UTF-8
<!doctype html>
<html>
  <head>
    #if $encoding == 'utf8'
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    #end if    
    <title>$station.location - $gettext("Current Weather Conditions")</title>
    <link rel="stylesheet" href="dist/scss/index.css">
    <link rel="icon" type="image/x-icon" href="favicon.ico" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/webcomponentsjs/2.6.0/webcomponents-loader.min.js"></script>
    <script>
      window.WebComponents = window.WebComponents || {};
      window.WebComponents.root = 'node_modules/@webcomponents/webcomponentsjs/';
    </script>

    <script src="dist/js/index.js"></script>
  </head>

  <body>
    #include "includes/ui-shell.inc"
    
    <main>
      <section class="main bx--content">
        <pre>
          $record
        </pre>
        $month.outTemp.max <br/>
        $current.barometer
        
        <div class="bx--grid bx--grid--full-width">
          <div class="bx--row">
            <div class="bx--col">1/4</div> 
            <div class="bx--col">1/4</div>
            <div class="bx--col">1/4</div>
            <div class="bx--col">1/4</div>
          </div>
        </div>
      </section>
    </main>

    <div id='footer'>
      <div class="bx--grid bx--grid--full-width">
        <div class="bx--row">
          <div class="bx--col">
            <p>
              weewx: $station.uptime<br/>
              server: $station.os_uptime<br/>
              weewx $station.version with $station.hardware<br/>
            </p>  
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
