#errorCatcher Echo
#encoding UTF-8

{
  "theme_color": "#161616",
  "background_color": "#1F40AF",
  "display": "standalone",
  "scope": "$get_base_path(path='/')",
  "start_url": "$get_base_path(path='/')",
  "name": "weewx WDC",
  "testing": "test",
  "short_name": "weewx WDC",
  "description": "weewx Station site with WDC Skin",
  "icons": [
    {
      "src": "$get_base_path(path='icon-192x192.png')",
      "sizes": "192x192",
      "type": "image/png"
    },
    {
      "src": "$get_base_path(path='icon-256x256.png')",
      "sizes": "256x256",
      "type": "image/png"
    },
    {
      "src": "$get_base_path(path='icon-384x384.png')",
      "sizes": "384x384",
      "type": "image/png"
    },
    {
      "src": "$get_base_path(path='icon-512x512.png')",
      "sizes": "512x512",
      "type": "image/png"
    }
  ],
  "shortcuts": [
    {
      "name": "Week",
      "url": "$get_base_path(path='week.html')",
      "description": "Weekly weather conditions"
    },
    {
      "name": "Month",
      "url": "$get_base_path(path='month.html')",
      "description": "Monthly weather conditions"
    },
    {
      "name": "Year",
      "url": "$get_base_path(path='year.html')",
      "description": "Yearly weather conditions"
    },
    {
      "name": "All time",
      "url": "$get_base_path(path='statistics.html')",
      "description": "All time stats"
    },
    {
      "name": "Celestial",
      "url": "$get_base_path(path='celestial.html')",
      "description": "Almanac"
    }
  ]
}
