<!--prettier-ignore-->
#errorCatcher Echo
#encoding UTF-8
#from time import strftime, localtime
#attr $context = 'month'
#attr $use_parameter_month = True
#attr $use_parameter_year = False
#set $NOAA_PATH = "NOAA/NOAA-" + $month.start.format('%Y-%m') + ".txt"

<!DOCTYPE html>
<html lang="$lang">
  <head>
    #include "includes/html-head.inc"
    <title>$station.location - $gettext("Monthly Weather Conditions")</title>
  </head>

  <body class="theme-$DisplayOptions.get('layout', 'alternative')">
    #include "includes/ui-shell.inc"

    <main class="main bx--content">
      <section>
        <div class="bx--grid bx--grid--full-width">
          <div class="bx--row">
            <header class="bx--col page-header">
              <h1>$gettext("Monthly Weather Conditions")</h1>
              <!-- prettier-ignore -->
              <h2>$month.start - $strftime($get_time_format_dict['month'], $localtime($month.end.raw - 1))</h2>
              <h3>
                <a
                  class="noaa-report-link"
                  target="_blank"
                  href="$get_base_path(path=$NOAA_PATH)"
                >
                  NOAA Report
                </a>
              </h3>
            </header>
          </div>

          <!--prettier-ignore-->
          #if $DisplayOptions.get('layout', 'alternative') == 'alternative'
            #include 'includes/body-alternative.inc'
          #else
            #include 'includes/body-classic.inc'
          #end if
        </div>
      </section>
    </main>

    #include "includes/footer.inc"

    <script src="$get_base_path(path='dist/main.js')" defer></script>
  </body>
</html>
