<!--prettier-ignore-->
#errorCatcher Echo
#encoding UTF-8
#from datetime import datetime

#attr $use_parameter_month = False
#attr $use_parameter_year = False

#set $now = datetime.now().strftime("%x %X")
#set $recent=$span($day_delta=30, boundary='midnight')
#attr $context = 'month'
#set $sensor_stat_tile_observations = $to_list($DisplayOptions.get('sensor_stat_tile_observations', ['rxCheckPercent', 'consBatteryVoltage']))

<!DOCTYPE html>
<html lang="$lang">
  <head>
    #include "includes/html-head.inc"
    <title>$station.location - $gettext("Sensor Status")</title>
  </head>

  <body class="theme-$DisplayOptions.get('layout', 'alternative')">
    #include "includes/ui-shell.inc"

    <main>
      <section class="main bx--content">
        <div class="bx--grid bx--grid--full-width">
          <div class="bx--row">
            <header class="bx--col page-header">
              <h1>$gettext("Sensor Status")</h1>
              <h2>$now</h2>
            </header>
          </div>

          <div class="bx--row">
            <!--prettier-ignore-->
            #for $sensor_obs in $sensor_stat_tile_observations
              #set $sensor_obs_binding = $get_data_binding($sensor_obs)

              #if $getattr(recent, $get_custom_data_binding_obs_key($sensor_obs)).has_data
                #set global $partial_obs = $sensor_obs
                #include "includes/stat-tile.inc"
              #end if
            #end for
          </div>
        </div>
      </section>
    </main>
    #include "includes/footer.inc"

    <script src="$get_base_path(path='dist/main.js')" defer></script>
  </body>
</html>
