<!--prettier-ignore-->
#errorCatcher Echo
#encoding UTF-8
#attr $precision = 'alltime'
#attr $use_parameter_month = False
#attr $use_parameter_year = False

<!DOCTYPE html>
<html lang="$lang">
  <head>
    #include "includes/html-head.inc"
    <title>$station.location - $gettext("Yearly Weather Conditions")</title>
  </head>

  <body>
    #include "includes/ui-shell.inc"

    <main>
      <section class="main bx--content">
        <div class="bx--grid bx--grid--full-width">
          <div class="bx--row">
            <header class="bx--col page-header">
              <h1>$gettext("All Time Stats")</h1>
              <h2>
                <!--prettier-ignore-->
                $alltime.start.format("%d. %b %Y") - $alltime.end.format("%d. %b %Y")
              </h2>
            </header>
          </div>
          <!--prettier-ignore-->
          #if len($DisplayOptions.get('climatological_days', [])) > 0
          <div class="bx--row">
            <div class="bx--col">
              <!--prettier-ignore-->
              #include "includes/climatological-days.inc"
            </div>
          </div>
          #end if
          <div class="bx--row">
            <!--prettier-ignore-->
            #for $skin_obs in $DisplayOptions.get('stat_tile_observations')
              #if $getattr($alltime, $skin_obs).has_data
                #set global $partial_obs = $skin_obs
                #include "includes/stat-tile.inc"
              #end if
            #end for
          </div>
          <div class="bx--row">
            <header class="bx--col section-header">
              <h2>$gettext("All Time")</h2>
            </header>
          </div>

          <!-- prettier-ignore -->
          <div class="bx--row">
            #set $diagram_index = 0
            #set $combined = $DisplayOptions.get('diagram_tile_combined_obervations')
            #for $skin_obs in $DisplayOptions.get('diagram_tile_observations')
              #if $skin_obs in $combined.keys()
                #set $combined_diagram = $combined[$skin_obs]
                #for $combined_obs in $combined_diagram.obs.keys()
                  #if $getattr($alltime, $combined_obs).has_data
                    #set global $combined_diagram = $combined_diagram
                    #set global $diagram_index = $diagram_index
                    #include "includes/combined-diagram-tile.inc"
                    #set $diagram_index = $diagram_index + 1
                    #break
                  #end if
                #end for
              #else
                #if $getattr($alltime, $skin_obs).has_data
                  #set global $partial_obs = $skin_obs
                  #set global $diagram_index = $diagram_index
                  #include "includes/diagram-tile.inc"
                  #set $diagram_index = $diagram_index + 1
                #end if
              #end if
            #end for
          </div>

          <!-- prettier-ignore -->
          #if 'table_tile_observations' in $DisplayOptions and len($DisplayOptions.get('table_tile_observations', [])) > 0
          <div class="bx--row">
            <!-- prettier-ignore -->
            #include "includes/data-table-tile.inc"
          </div>
          #end if
        </div>
      </section>
    </main>

    #include "includes/footer.inc"

    <script src="dist/js/index.js"></script>
  </body>
</html>
