<!--prettier-ignore-->
#errorCatcher Echo
#encoding UTF-8
#attr $precision = 'year'
#attr $use_parameter_year = True
#set global $parameter_year = $year
#attr $use_parameter_month = False

<!DOCTYPE html>
<html>
  <head>
    #if $encoding == 'utf8'
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    #end if
    <title>$station.location - $gettext("Yearly Weather Conditions")</title>
    <link rel="stylesheet" href="dist/scss/index.css" />
    <link rel="icon" type="image/x-icon" href="favicon.ico" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/webcomponentsjs/2.6.0/webcomponents-loader.min.js"></script>
    <script>
      window.WebComponents = window.WebComponents || {};
      window.WebComponents.root =
        "node_modules/@webcomponents/webcomponentsjs/";
    </script>
  </head>

  <body>
    #include "includes/ui-shell.inc"

    <main>
      <section class="main bx--content">
        <div class="bx--grid bx--grid--full-width">
          <div class="bx--row">
            <header class="bx--col page-header">
              <h1>$gettext("Yearly Weather Conditions")</h1>
              <h2>$year_name</h2>
              <h3>
                <a
                  target="_blank"
                  href="NOAA/NOAA-${year.start.format('%Y')}.txt"
                >
                  NOAA Report
                </a>
              </h3>
            </header>
          </div>
          <div class="bx--row">
            <!--prettier-ignore-->
            #for $skin_obs in $DisplayOptions.get('stat_tile_observations')
              #if $getattr($year, $skin_obs).has_data
                #set global $partial_obs = $skin_obs
                #include "includes/stat-tile.inc"
              #end if
            #end for
          </div>
          <div class="bx--row">
            <header class="bx--col section-header">
              <h2>$year_name</h2>
            </header>
          </div>

          <!-- prettier-ignore -->
          <div class="bx--row">
            #set $diagram_index = 0
            #set $combined = $DisplayOptions.get('diagram_tile_combined_obervations')
            #for $skin_obs in $DisplayOptions.get('diagram_tile_observations')
              #if $skin_obs in $combined.keys()
                #set $combined_diagram = $combined[$skin_obs]
                #for $combined_obs in $combined_diagram.obs.keys()
                  #if $getattr($year, $combined_obs).has_data
                    #set global $combined_diagram = $combined_diagram
                    #set global $diagram_index = $diagram_index
                    #include "includes/combined-diagram-tile.inc"
                    #set $diagram_index = $diagram_index + 1
                    #break
                  #end if
                #end for
              #else
                #if $getattr($year, $skin_obs).has_data
                  #set global $partial_obs = $skin_obs
                  #set global $diagram_index = $diagram_index
                  #include "includes/diagram-tile.inc"
                  #set $diagram_index = $diagram_index + 1
                #end if
              #end if
            #end for
          </div>
        </div>
      </section>
    </main>

    #include "includes/footer.inc"

    <script src="dist/js/index.js"></script>
  </body>
</html>
